{% extends 'base.html.twig' %}

{% block title %}article{% endblock %}

{% block body %}
        <div class="container">
                <a class="btn btn-outline-primary my-2 my-sm-0" href="{{ path("homepage") }}">Retour acueil</a>
                <div class="card p-2" style="width: auto;">
                        <ul class="list-group list-group-flush">
                                <div class="row">
                                        <div class="col-sm">
                                                Auteur : {{ article.author.pseudo }}
                                        </div>
                                        <div class="col-sm">
                                                Date : {{ article.createdAt|date }}
                                        </div>
                                        <div class="col-sm">
                                                Catégorie : {{ article.category.name }}
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm">
                                                <h1 class="text-center">{{ article.title }}</h1>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm">
                                                <h2>{{ article.summarize }}</h2>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm">
                                                <img src="{{ asset('upload/'~article.picture) }}" class="img-fluid" style="width: 100%" alt="image article">
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm">
                                                <p>{{ article.content }}</p>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm">
                                                Partage
                                        </div>
                                        <div class="col-sm">
                                                Like
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm">
                                                Réseau
                                        </div>
                                        <div class="col-sm">
                                                Tag
                                        </div>
                                </div>
                        </ul>
                </div>
                {% if app.user %}
                        <div class="container">
                                <h1>Créer un commentaire</h1>
                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                <button type="submit"  class="btn btn-primary">Envoyer</button>
                                {{ form_end(form) }}
                        </div>
                {% else %}
                        <p>Se connecter pour laisser un commentaire</p>
                {% endif %}
        </div>

{% endblock %}
