{% extends 'base.html.twig' %}

{% block title %}article{% endblock %}

{% block body %}
        <div class="container">
                <div class="card m-2" style="width: auto;">
                        <ul class="list-group list-group-flush">
                                <div class="row">
                                        <div class="col-sm">
                                                Auteur : {{ article.author.pseudo }}
                                        </div>
                                        <div class="col-sm">
                                                Date : {{ article.createdAt|date }}
                                        </div>
                                        <div class="col-sm">
                                                Catégorie : {{ article.category.name }}
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm">
                                                <h1>{{ article.title }}</h1>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm">
                                                <h2>{{ article.summarize }}</h2>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm">
                                                Image
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm">
                                                <p>{{ article.content }}</p>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm">
                                                Partage
                                        </div>
                                        <div class="col-sm">
                                                Like
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm">
                                                Réseau
                                        </div>
                                        <div class="col-sm">
                                                Tag
                                        </div>
                                </div>
                        </ul>
                </div>
        </div>


{% endblock %}
