{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% for article in articles %}
<div class="container">
    <div class="card m-2" style="width: auto;">
        <ul class="list-group list-group-flush">
            <div class="row">
                <div class="col-sm">
                   Auteur : {{ article.author.pseudo }}
                </div>
                <div class="col-sm">
                    Date : {{ article.createdAt|date }}
                </div>
                <div class="col-sm">
                    Catégorie : {{ article.category.name }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                   <h1>{{ article.title }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <h2>{{ article.summarize }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <img src="{{ asset('upload/'~article.picture) }}" alt="image article">
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <p>{{ article.content }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Partage
                </div>
                <div class="col-sm">
                    Like
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    Réseau
                </div>
                <div class="col-sm">
                    Tag
                </div>
            </div>
            <a class="btn btn-outline-primary m-2 col-2" href="{{ path('article',{'article':article.id}) }}">Voir article</a>
        </ul>
    </div>
</div>
    {% endfor %}
{% endblock %}
